<div class="card">
  <div class="card-header crd_hed">Item Group</div>
  <div class="card-body ">
    <form [formGroup]="ItemGrpForms" (ngSubmit)="SaveItemGroup()">
      <div class="form-group row">

        <div class="col-md-4 row">
          <div class="col-md-4">Item Type</div>
          <div class="col-md-8">
            <select name="ItemType" formControlName="ItemType" class="form-control drpDwn_style">
              <option value="" disabled>Select</option>
              <option *ngFor="let item of ItemTypes" [ngValue]='item.id'>{{item.description}}</option>
            </select>
          </div>
        </div>

        <div class="col-md-4 row">
          <div class="col-md-4"> Description</div>
          <div class="col-md-8"> <input type="text" formControlName="Description" class="form-control txt-field"
              placeholder="Description"></div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-4 offset-md-8">
          <input type="button" value="{{btnName}}" class="button botn_style" (click)="SaveItemGroup()">
          &nbsp;
          <input type="button" (click)="Clear()" class="button botn_style" value="Clear">
        </div>
      </div>
     

    </form>

    <hr>

    <div>
      <table class="table">
        <thead>
          <tr>
            <th style="width: 75px;">Sl.No</th>
            <th style="width: 200px;">Item Type</th>
            <th>Group</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let grps of ItemGroups; let ndx=index;">
            <td style="width: 75px;">{{ndx+1}}</td>
            <td style="width: 200px;">{{grps.igItemType}}</td>
            <td >{{grps.igDescription}}</td>
            <td style="width:65px;">
              <a (click)="EdtItmGrp(grps)">
                <img src="../../assets/edit-black.png" style="width:18px; height:18px;">
              </a>
            </td>

            <td style="width:65px;">
              <a (click)="deltItmGrp(grps.igId)">
                <img src="../../assets/delete-512.png" style="width:18px; height:18px;">
              </a>
            </td>

          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>