<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" routerLink="Home">Qizo ERP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
            aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
     
  
     

        <li class="nav-item dropdown">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-default" id="mnuMaster" ngbDropdownToggle>Masters</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem routerLink="ItemGroup">Item Group</button>
                <button ngbDropdownItem routerLink="ItemType">Item Type </button>
                <button ngbDropdownItem routerLink="CompanyProfile">Company Profile</button>
                <button ngbDropdownItem routerLink="UserGroup">User Group</button>
                <button ngbDropdownItem routerLink="UserMaster">User Master</button>

                <button ngbDropdownItem routerLink="Itemmaster">Item Master</button>
                <button ngbDropdownItem routerLink="Taxtype">Tax Type</button>
                <button ngbDropdownItem routerLink="Pricinglevel">Pricing Level</button>
                <button ngbDropdownItem routerLink="Manufacturer">Manufacturer</button>
                <button ngbDropdownItem routerLink="Brand">Brand</button>
                <button ngbDropdownItem routerLink="Taxmaster">Tax Master</button>                              
                
                
                <button ngbDropdownItem routerLink="xxxxxxxx">xxxxxxxx</button>

                
                
              </div>
            </div>
          </div>
      </li>

      <li class="nav-item dropdown">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-default" id="mnuTransaction" ngbDropdownToggle>Transaction</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">                       
              <button ngbDropdownItem routerLink="xxxxxxxx">xxxxxxxx</button>

              
              
            </div>
          </div>
        </div>
    </li>

    <li class="nav-item dropdown">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-default" id="mnuReports" ngbDropdownToggle>Reports</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">                       
            <button ngbDropdownItem routerLink="xxxxxxxx">xxxxxxxx</button>

            
            
          </div>
        </div>
      </div>
 </li>

      <li class="nav-item dropdown">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-default" id="mnuSettings" ngbDropdownToggle>Settings</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">                       
              <button ngbDropdownItem routerLink="xxxxxxxx">xxxxxxxx</button>

              
              
            </div>
          </div>
        </div>
    </li>

      </ul>
     
    </div>
  </nav>
